/* standard tags */

/* h1 { font-size: 48px; margin: 0 0 0 0; color:#ffffff; }
h2 { font-size: 16px; margin: 0 0 0 0; color:#ffffff; }
h3 { font-size: 18px; } */
a:visited {color: #FECB00;}
h1, h2, h3, h4, h5 { font-family:Trebuchet MS; color: #474747; margin: 0px; }
h1 { font-size: 28pt; }
h2 { text-align: center; font-size: 14pt; color: #FECB00; }
h3 { font-size: 10pt; }
/* body { background-color:#0099CC; font-family:Tahoma, Arial, Verdana, Sans-serif; font-size:12px; color:#ffffff; }*/
body { font-family: Trebuchet MS; background-image: url(./images/Arc_Brush3_Blue_PNG.png); background-repeat: no-repeat; }

/**************************************************************/
/* additional classes */

.HeadDiv { width: 1000px; margin-left: auto; margin-right: auto;}
.BodyDiv { width: 1000px; margin-left: auto; margin-right: auto; }
.blogHead { text-align:center; width: 1000px; padding-top: 15px; padding-bottom: 15px; margin-left: auto; margin-right: auto; }
.blogHead_title { text-decoration: none; color: #474747; }
.blogHead_title:hover { text-decoration:none;  border-bottom: 2px solid #ffffff; }
.blogHead_subtitle { font-style:italic; font-size:16px; text-align:center; font-weight:bold; margin: 15px 100px 15px 100px; }

.subMenu { background-color:#474747; border:1px solid #474747; margin-bottom:5px; padding:2px; color: White; }
.subMenu_link{ text-decoration:underline; color:#FECB00; font-size: 18px; }
.subMenu_link:hover { text-decoration:none; color:#cccccc; font-size: 18px; }

.blogSubTitle { color: #fe6b1d; font-size:24px; padding-top:10px; }

.leftColumn { float: left; width:20%; margin-right: 10px; margin-left: 15px; border: 1px solid #474747; }
.centerColumn { float:left;width:55%; border: 1px solid #474747; }
.rightColumn { float: left; width: 20%; margin-left: 10px; border: 1px solid #474747; }

.centerColumn a { color:#FECB00; text-decoration:underline; font-size: 18px; }
.centerColumn a:hover { color:#FECB00; text-decoration:none; font-size: 18px; }

.areaTitle { background-color:#474747; text-align:center; border-style:solid; border-color:#474747; border-width:1px; border-bottom:none; }
.areaInner { margin-bottom:10px; border-style:solid; border-color:#474747; border-width:1px; border-top:none; padding-left: 3px; color:#FECB00; text-align: left; }
.article_footer { background: #474747; color:#4D4D4D; margin-top: 9px; margin-bottom: 0px; padding-top: 4px; padding-bottom: 6px; }
.area_link { color:#EA7125; font-size: 18px; }
.TopArticlesLinks { color: #EA7125; font-size: 12px; text-decoration: underline;}
.TopArticlesLinks:hover { text-decoration: none;}

.article_link{ text-decoration:underline; color:#EA7125; }
.article_link:hover { text-decoration:none; color:#ffffff;	}
.article_title { text-decoration:none; color: #fe6b1d; font-size:24px; }
.article_title:hover { text-decoration:none; border-bottom: 0px solid #fe6b1d; }
.commentTitle { background-color:#474747; border:1px solid #CACACA; margin:10px 0px; padding:2px; }

.divLine { height: 1px; background-color:#356dcb; width:100%; font-size:0px;}
.errorLabel { color:#FF0000; font-size:14px; }

.controlBtn_link{ text-decoration:underline; color:#D73513; font-size: 18px; }
.controlBtn_link:hover { text-decoration:none; font-size: 18px; }

.footer {background-color:#474747; width: 994px; text-align:right; color:#ffffff; padding: 3px;}
.footer_linkc {color: #FECB00; }

.div_left { float:left; }
.simple_link{ text-decoration:underline; font-size: 18px; }
.simple_link:hover { text-decoration:none; font-size: 18px; }
.margin_t_0{margin-top:0px;}
.margin_0{margin:0px;}
.list{ list-style:none; margin:0px;padding:0px;}
.list li { padding-left:5px; padding-top:3px; border-bottom: 1px solid #474747; padding-bottom: 5px;}
.blod_text { font-weight: bold; }
.yellowLink { text-decoration:underline;}
.yellowLink:hover { text-decoration: none;}

.postedIn { color:#EA7125; }

input { background-color:Black; border: solid 1px #cccccc; height:16px; line-height:16px; color:#ffffff; }
select { background-color:Black; border: solid 1px #cccccc; height:16px; line-height:16px; height:22px; color:#ffffff; }

/* Tool Tip Style */
.tip { font-family: Lucida Sans; border:solid 1px #ffb400; padding:1px 5px 1px 0px; position:absolute; z-index:100; visibility:hidden; 
       color:#ffb400; top:20px; left:90px; background-color:Black; } 

.tipli { text-indent: 0px; display: none; list-style-type: circle; }   


